@import '../../Scss/Variables.scss';
@import '../../Scss/Mixin.scss';
.background__instructor{

    margin-bottom: $mg-3 * 3;
    position: relative;
        
    .grey__background{
        position: absolute;
            top: 15%;
            left: 0;
            height: 70%; 
            background-color: $grey-1;
            width: 100%;
    }
    .main__instructor{
        .instructor{
            width: 100%;
            margin: auto;
            padding: $pd-3;
            img{
                width: 80%;
                border-radius: 5px;
                box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
            }
            .instructor__content{
                padding-right: 0;
                h3{
                    @include text($fs-3 - 1,$fw-3,$black);
                    &:hover{
                        color: $pink;
                        transition: all .3s;
                    }
                }
                p{
                    @include text($fs-1 + 2, $fw-2, $grey);
                }
                .button__instructor{
                    text-align: center;
                    button{
                        padding: $pd-1 + 3 $pd-1;
                        background-color: black;
                        border: 1px solid black;
                        @include text($fs-1, $fw-1, $white);
                        text-transform: uppercase;
                        &:hover{
                            color: $pink;
                            transition: all .5s;
                            box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12)!important;
                        }
                    }
                    .popup-content{
                        width: 20%!important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .main__instructor{
        .instructor{
            img{
                width: 80%!important;
            }
        }
    }
@media screen and (max-width: 992px) {
    .img__instructor{
        display: none;
    }
    .grey__background{
        height:100%!important;
        top: 0!important;
    }

}
}