@import '../../Scss/Variables.scss';
@import '../../Scss/Mixin.scss';
.upskill{
    margin: $mg-3 * 3 auto;
    .skill__spread{
        .img__hacking{
            img {
                padding-right: $pd-3;
            }
        }
        .content{
            padding-left: $pd-3 * 2;   
            .top{
                @include text( $fs-2, $fw-3, $pink);
                text-transform: uppercase;
                line-height: 1px;
                padding-left: $pd-2;
                margin-bottom: $mg-3;
            }
            h3{
                @include text($fs-5, $fw-3, $black);
            }
            p{
                @include text($fs-1, $fw-2, $grey);
            }
            ul{
                li{
                    @include text($fs-1, $fw-2, $grey);
                }
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .upskill{
        display: none;
    }
}