//font size:
$fs-1: 16px;
$fs-2: 24px;
$fs-3: 36px;
$fs-4: 42px;
$fs-5: 55px;
$fs-6: 72px;

//font-weight
$fw-1: 300;
$fw-2: 500;
$fw-3: 500;

//padding
$pd-1: 10px;
$pd-2: 20px;
$pd-3: 30px;
//margin
$mg-1: 10px;
$mg-2: 20px;
$mg-3: 30px;
//color
$black : #181717;
$black-1: #222222;
$white : white;
$pink: #ef2368;
$grey: #707070;
$grey-1:#f8f8f1;